<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="MyCustomConfig">
      <section name="Device" type="System.Configuration.NameValueSectionHandler" />
      <section name="Company" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>

  <MyCustomConfig>
    <Device>
      <add key="RFID1" value="Thinkmagic"/>
      <add key="RFID2" value="Thinkmagic"/>
      <add key="Laptop" value="Acer"/>
    </Device>
    <Company>
      <add key="org1" value="01"/>
    </Company>
  </MyCustomConfig>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>